@import "globals.css";
header{
    z-index: 1;
}
.img-1{
    background-image: url("../assets/maui-1.jpg");
}
.img-2{
    background-image: url("../assets/maui-2.jpg");
}
.img-3{
    background-image: url("../assets/maui-3.jpg");
}
.article-img{
    border-radius: 50px;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.article-container{
    display: table;
    height: 100%;
}
.article-content{
    display: table-cell;
    vertical-align: middle;
    height: fit-content;
    height: max-content;
}
.row{
    height: 500px;
    margin: 50px 0;

}
.img-top{
    background-image: url("../assets/maui-background.jpeg");
    height: 600px;
}
.title{
    padding-top: 250px;
    width: 100%;
    text-align: center;
}
.container{
    padding: 50px 0;
    background-color: #ffffff5c;
}
main{
    background-color: #ececec;
}
nav{
    background-color: #00000096;
}
.nav-link{
    color: rgba(255,255,255,0.8) !important;
}
.navbar-dark .navbar-toggler{
    border: none;
}
.navbar-dark .navbar-toggler:focus{
    outline: none;
}

@media screen and (max-width: 1000px) {
    .article-content h1 {
            font-size: 30px;
    }
    .article-content p {
        font-size: 14px;
    }
}    
@media screen and (max-width: 800px) {
    .container{
        max-width: 100%;
    }
    .article-img{
        border-radius: 0;
        height: 400px;
    }
    .row{
        height: fit-content;
    }
    .img-container{
        order: 2;
    }    
}
